*{
	font-family: "Space Grotesk", Helvetica, sans-serif;
}

body{
	display: block;
	width: 220px;
	text-align: center;
	padding: 10px;
	background-color: rgb(251, 249, 238);
	margin-top: 5px;
}

.buttons{
	margin-top: 20px;
}

#appTitle{
	padding-bottom: 5px;
	font-weight: bolder;
	color:#1D4D7C;
	font-size: 17px;
	border-bottom: 2px solid #8ca4b454;
	transition: all 200ms ease;
	text-decoration: none;
}

#appTitle:hover{
	cursor: pointer;
	color: #26B4C4;
    transition: all 200ms ease-out;
}

button{
	width: 200px;
	display: block;
	margin: 10px auto;
	background-color: #1D4D7C;
	color: white;
	border: none;
	padding: 15px 20px;
	border-radius: 8px;
	transition: all 200ms ease;
}

button:hover{
	background-color: #26B4C4;
	cursor: pointer;
	transform: scale(1.1);
    transition: all 200ms ease-out;
}